doctype html
html
  head
    meta(http-equiv="Content-Type", content="charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title="pulsuz mp3, musiqi dinlə və yuklə - NIX.FM"
    block description
      meta(name='description', content='məşhurlardan pulsuz mp3ler, musiqiler yukle ve ya dinle. En son ve xit musiqiler')
    meta(name="distribution", content="Global")
    meta(name="rating", content="General")
    meta(name="copyright", content="nix.fm")
    meta(name="expires", content="no")
    meta(name="robots", content="index, follow")
    meta(name="revisit-after", content="3 days")
  body

    include ./../banners/popunder.jade

    div.header
      div.headercenter(style="color:white")
        a(href="/") NIX.FM
        form(method="get", action="/search")
          input(type="text" name="q" placeholder="axtarış..." value="#{q}")
          button
            i.fa.fa-search
    div.main
      div.whitebox.pad-4
        .letters
          span İfaçılar:
          -
            letters = ['A', 'B', 'C', 'Ç', 'D', 'E', 'Ə', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'Ö', 'P', 'Q', 'R', 'S', 'Ş', 'T', 'U', 'Ü', 'V', 'W', 'X', 'Y', 'Z']
          each letter in letters
            a(href="/artists/#{letter}") #{letter}
          hr
          -
            letters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Э', 'Ю', 'Я']
          each letter in letters
            a(href="/artists/#{letter}") #{letter}
          br
          div(style="text-align:right")
            a(href="/artists") TAM SİYAHI

      block content
      br
      br
      if keywords
        div.whitebox
        each keyword in keywords
          a(href="/#{keyword.slug}.html", title="#{keyword.title} pulsuz mp3 yukle, dinle", style="padding: 5px; margin: 5px") #{keyword.title}
      br
      br
      div.none.clear.non-top-border NIX.FM

    link(rel="stylesheet", href="/resources/website/css/style.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", type="text/css")
    script(src="/resources/player/player.js")
    script(src="/resources/tracking/ga.js")