extends ./_layout.jade

block title
  title #{artist.name} - pulsuz mp3, musiqi dinlə və yuklə - NIX.FM
block description
  meta(name='description', content='#{artist.name} məşhurlardan pulsuz mp3ler, musiqiler yukle ve ya dinle. En son ve xit musiqiler')

block content
  if tracks.length > 0
    div.whitebox
      div.blue #{artist.name}
        div.float-right İfaçının mahnıları (tapıldı: #{count})
      each track in tracks
        div.hr
          a.displaya.small(href="/track/#{track.slug}", title="#{artist.name} - #{track.name}", hreflang="az")
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}