extends ./_layout.jade

block title
  title pulsuz mp3, musiqi dinlə və yuklə - NIX.FM
block description
  meta(name='description', content='məşhurlardan pulsuz mp3ler, musiqiler yukle ve ya dinle. En son ve xit musiqiler')

block content
  if artists.length > 0
    div.whitebox
      div.blue İfaçılar (tapıldı: #{count})
      each artist in artists
        div.white.col-6.float-left
          a.displaya(href="/artist/#{artist.slug}" title="#{artist.name}" style="background:url('/data/artists/#{artist.uuid}/64x64.jpg') no-repeat;", hreflang="az")
            div.artist #{artist.name}