extends ./_layout.jade

block title
  title pulsuz mp3, musiqi dinlə və yuklə - NIX.FM
block description
  meta(name='description', content='məşhurlardan pulsuz mp3ler, musiqiler yukle ve ya dinle. En son ve xit musiqiler')

block content
  div.whitebox
    div.blue Axtarış (tapıldı: #{count})
    if tracks.length > 0
      each track in tracks
        div.hr
          a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;", hreflang="az")
            div.artist #{track.Artist.name}
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}
    else
      div.white.text-center.pad-4
        | Sorğuya əsasən məlumat tapılmadı.

  if tracks.length < 5
    div.whitebox
      div.blue Çox dinlənilən
      each track in latestTracks
        div.hr
          a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;", hreflang="az")
            div.artist #{track.Artist.name}
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}