extends ./_layout.jade

block title
  title #{track.Artist.name} - #{track.name} - pulsuz mp3, musiqi dinlə və yuklə - NIX.FM
block description
  meta(name='description', content='#{track.Artist.name} - #{track.name} məşhurlardan pulsuz mp3ler, musiqiler yukle ve ya dinle. En son ve xit musiqiler')

block content
  div.whitebox.pad-4
    span.displaya(style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat; border:0")
      h1 #{track.name} - #{track.Artist.name}
      div.info
        a(href="/track/#{track.slug}/download", style="text-decoration:none; color: #333")
          i.fa.fa-download
          |  YÜKLƏ
    div.player(style="text-align: center;")
      audio(preload="none" src="/track/#{track.slug}/stream")

  if artistTracks.length > 1
    div.whitebox
      div.blue İfaçının digər mahnıları
      each track in artistTracks
        div.hr
          a.displaya.small(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}", hreflang="az")
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}

  if artistTracks.length < 10
    div.whitebox
      div.blue Ordan burdan
      each track in randomTracks
        div.hr
          a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;", hreflang="az")
            div.artist #{track.Artist.name}
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}